html, body {
    font-family: 'Montserrat', 'sans-serif';
    background-color: rgb(61, 61, 70);
    margin: 0;
    padding: 0;
    width: 100;
    box-sizing: border-box;
    overflow-x: hidden;
}

.main-content {
    display: flex;
    align-items: center;
    width: 100%vw;
    position: relative; /* So that the pseudo-element for the overlay is positioned relative to it */
    background-image: url('Images/yacht1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50rem; /* Set the desired height */

    /* figure out why heading is on left side */
}

.main-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.589); /* Black transparent overlay */
    z-index: 1;
}

.main-content > * {
    position: relative;
    z-index: 2; /* Ensures content appears above the overlay */
}

#mainheading {
    font-size: 25px;
    color: #e6e6e6;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: underline;
}

#maintext {
    text-align: center;
    padding: 0rem 25rem;    
}

nav {
    position: fixed;
    top:0;
    left:0;
    right:0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    background-color: rgba(50, 50, 60, 0.95);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.52);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0;
}

nav a {
    font-family: 'Montserrat', 'sans-serif';
    font-size: px;
    color: #e6e6e6;
    text-decoration: none;
    transition: color 0.3s;
    border-bottom: 0.3s;
    padding-bottom: 5px;
    padding: 10px 10px;
}

nav a:hover {
    color: #141414;
    border-bottom: 2px solid #141414 ;
    background-color:rgb(121, 121, 123)
}

.main-content {
    background-color: rgba(50, 50, 60, 0.95);
    font-size: 20px;
    color: #e6e6e6;
    top:0;
    left:0;
    right:0;
    width: 100%;
    padding: 2px 6px;
    border-radius: 0;
}

.footer {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #e6e6e6;
    padding: 1rem 0rem;

}